{% extends 'base.html.twig' %}

{% block title %}Need Help?{% endblock %}


{% block stylesheets %}

<link rel="stylesheet" href="{{asset('../public/CSS/base.css')}}">

{% endblock %}


{% block body %}

<section class="message">Please contact the police if you are in danger on <a href="tel:999">999</a>.<br>
        Our shelter reopens on 24/12/18.<br>
        Please contact Stonewall Housings advice line on 02073595767 or complete the self referral form:
        </section>
{% endblock %}