{% extends 'base.html.twig' %}

{% block title %}Notice Board{% endblock %}


{% block stylesheets %}

<link rel="stylesheet" href="{{asset('../public/CSS/base.css')}}">

{% endblock %}


{% block body %}

<h1 class="headers">Notice Board</h1>

{% endblock %}