{% extends 'base.html.twig' %}

{% block title %}The Project{% endblock %}


{% block stylesheets %}

<link rel="stylesheet" href="{{asset('../public/CSS/base.css')}}">

{% endblock %}


{% block body %}

<section class="project">
    <div class="who">
        <h1 class="headers">Who we are</h1>
    </div>

    <div class="timetable">
        <h1 class="headers">Community Center timetable</h1>
    </div>

    <div class="shelter">
        <h1 class="headers">The Shelter</h1>
    </div>
</section>

<section class="news">
    <h1 class="headers">News</h1>
</section>

{% endblock %}