{% extends 'base.html.twig' %}

{% block title %}The Project{% endblock %}


{% block stylesheets %}

<link rel="stylesheet" href="{{asset('../public/CSS/base.css')}}">

{% endblock %}


{% block body %}

<section class="project-TOP">
    <div class="who">
        <h1 class="who-headers">Who we are</h1>
        <p class="project-text">We are LGBTIQ+ colleagues, friends & activists who work in the Homeless sector & have lived experience of homelessness & the unique, complex issues our community face. We volunteered to launch the UK’s first LGBTIQ+ Crisis/Homeless Shelter & Community Centre. We launched publicly at London Pride 2017, campaigning alongside the passionate & talented LGBTIQ+ community of activists & artists.</p>

        <img class="who-pic" src="{{ asset('PICS/Pride.jpg') }}" alt="the two founders of the outside project"></img>

    </div>

    <div class="timetable">
        <h1 class="community-header">Community Center Timetable</h1>
        <div class="timetable-details">
            <div class="community-activities">
                <h2 class="monday days">Monday</h2>
            </div>

            <div class="community-activities">
                <h2 class="tuesday days">Tuesday</h2>
                <h3>Homelessness Recovery Group - 9:30 -> 10:30</h3>
                <h3>Smoothie Tuesdays - 10:30 -> 12:30</h3>
            </div>

            <div class="community-activities">
                <h2 class="wednesday days">Wednesday</h2>
                <h3>Community Hub - 6pm -> 9pm</h3>
            </div>

            <div class="community-activities">
                <h2 class="thursday days">Thursday</h2>
            </div>

            <div class="community-activities">
                <h2 class="friday days">Friday</h2>
            </div>

            <div class="community-activities">
                <h2 class="days">First Sunday of every month</h2>
                <h3>LGBTQIA+ Cancer Peer Support Group</h3>
            </div>

            <div class="community-activities">
                <h2 class="days">Punctual Activities</h2>
                <h3></h3>
            </div>
        </div>


    </div>

    <div class="shelter">
        <h1 class="who-headers">The Shelter</h1>
        <p class="project-text">During the summer 2017 we crowdfunded £11.5k. This enabled us to buy a 12 bed tour bus to host the shelter that winter. Through ongoing support from the community & grant funding from the local authority we were able to deliver a professional shelter &demonstrating the need for this vital service on a year round basis.</p>

        <img class="shelter-pic" src="{{ asset('PICS/shelter.jpg') }}" alt="three people siiting under a dome"></img>
    </div>
</section>
<hr class="hr-two">

<section class="news">
    <h1 class="headers header-news ">News</h1>
</section>

{% endblock %}